@charset "UTF-8";
/* 主题色设置 */
/* 媒体查询 */
.sun-a-number-input {
  width: 100%;
  background: var(--bgColor2);
  border-radius: 0.58rem;
  color: var(--textColor);
  font-size: 1.25rem;
}

.sun-a-number-input::placeholder {
  color: var(--textColor2);
}

.sun-a-number-input :deep(input) {
  color: var(--textColor);
}

.sun-a-number-input :deep(input)::placeholder {
  color: var(--textColor2);
}

.sun-a-number-input :deep(.ant-input-number-group-addon) {
  border: none;
}

.sun-a-number-input .addonAfter {
  font-weight: 600;
  color: #8c51ff;
  font-size: 1.25rem;
}

.sun-switch {
  background-color: var(--bgColor2) !important;
}

.sun-switch.ant-switch-checked:hover {
  background-color: var(--btnColor) !important;
}
